<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rxy.persistence.provider.dal.dao.RpLoanStatisticsDayMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rxy.persistence.provider.dal.entity.RpLoanStatisticsDay">
        <id column="id" property="id" />
        <result column="date" property="date" />
        <result column="uv" property="uv" />
        <result column="test" property="test" />
        <result column="ip_real_succ_rate" property="ipRealSuccRate" />
        <result column="sub_success" property="subSuccess" />
        <result column="pv" property="pv" />
        <result column="ip" property="ip" />
        <result column="unknown_send_rate" property="unknownSendRate" />
        <result column="fail_send_rate" property="failSendRate" />
        <result column="label" property="label" />
        <result column="operator" property="operator" />
        <result column="bank" property="bank" />
        <result column="send_fail" property="sendFail" />
        <result column="create_time" property="createTime" />
        <result column="send_unknow" property="sendUnknow" />
        <result column="sms" property="sms" />
        <result column="send_success" property="sendSuccess" />
        <result column="send" property="send" />
        <result column="ip_succ_rate" property="ipSuccRate" />
        <result column="channel_id" property="channelId" />
        <result column="hand" property="hand" />
    </resultMap>

</mapper>
